<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container-fluid">
          <a class="navbar-brand" href="/stud_home"><i class="fas fa-envelope-open-text"></i>  Placement Management System</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse justify-content-end" id="navbarNavAltMarkup">
            <div class="navbar-nav">
              <a class="nav-link active" aria-current="page" href="#">Home</a>
              <a class="nav-link" href="/students">Candidates</a>
              <a class="nav-link text-success" href="/new_drive">Post new drive</a>
              <a class="nav-link text-danger" href="/home"><i class="fas fa-sign-out-alt"></i> Sign Out</a>
              <a class="nav-link text-danger" href="/todoist"><i class="fas fa-sign-out-alt"></i> Todoist </a>
            </div>
          </div>
        </div>
      </nav>
      <section>
        <figure class="text-center mt-5">
            <blockquote class="blockquote">
              <p>Welcome Admin!</p>
              <br>
              <br>
              <div class="container">
                <%- include('./partials/message')%>
              </div>
            </blockquote>
          </figure>
      </section>
      
</body>
</html>