
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container-fluid">
          <a class="navbar-brand" href="/stud_home"><i class="fas fa-envelope-open-text"></i>  Placement Management System</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse justify-content-end" id="navbarNavAltMarkup">
            <div class="navbar-nav">
              <a class="nav-link active" aria-current="page" href="#">Home</a>
              <a class="nav-link" href="https://www.geeksforgeeks.org/a-complete-step-by-step-guide-for-placement-preparation-by-geeksforgeeks/">Study Materials</a>
              <a class="nav-link text-info" href="/drive_update">Drive Updates</a>
              <a class="nav-link text-danger" href="/"><i class="fas fa-sign-out-alt"></i> Sign Out</a>
            </div>
          </div>
        </div>
      </nav>
      <section>
        <figure class="text-center mt-5">
            <blockquote class="blockquote">
              <p>Welcome <%= data.name %>! </p>
            </blockquote>
          </figure>
          <div class="mt-5 mb-5 pl-5 pl-5">
            <img src="/assets/img/undraw_career_progress_ivdb.svg" alt="girl_seating" class="img-responsive mx-auto d-block" id="girl_seating">
          </div>
      </section>
</body>
</html>